[Desktop Entry]
Version=1.0
Type=Application
Name=Readesm
Comment=Viewer for Digital Tachograph files
TryExec=readesm
Exec=readesm %f
Icon=readesm-icon
MimeType=application/x-esm;
Categories=Qt;Office;Viewer;