[Desktop Entry]
Version=1.0
Type=Application
Name=Readesm
GenericName=Tachograph file viewer
Comment=Viewer for Digital Tachograph files
TryExec=readesm
Exec=readesm %f
Icon=readesm
MimeType=application/x-esm;
Categories=Qt;Office;Viewer;
